.form{
    display:flex;
    flex-direction: column;
    height: 520px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
   margin-left: 200px;
   margin-right: 200px;
   text-align: center;

}

.form label{
    margin-top:7px;
    margin-bottom: 7px;
}

button {
    width: 130px;
    height: 23px;
    margin-left: 335px;
}

.count{
    width: 300px;
    margin-left: 250px;
}

