.container {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  align-items: center;
  height: 200px;
  background-image: url("../Images/pixa.jpg");
  background-color: rgba(209, 201, 193, 0.835);
  box-shadow: 15px 15px 20px 20px rgb(155, 151, 148);
}

.footer{
    margin-right: 180px;
}

.welcome {
  padding-left: 49px;
  color: rgb(97, 97, 97);
  font-family: "Poppins";
  font-style: oblique;
}

.icons {
  position: absolute;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 8px;
}

.img {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 8px;
}
