.mainform {
  display: grid;
  justify-content: center;
  margin-bottom: 70px;
  margin-right: 100px;
}

.form {
  display: grid;
  justify-content: center;
  width: 500px;
  height: 400px;
  margin-top: 40px;
  background-color: rgb(227, 222, 215);
  box-shadow: 2px 12px 9px 13px rgb(155, 151, 148);
}

.email1 {
  margin-top: 30px;
 
}

.email {
  height: 28px;
  width: 300px;
  margin-bottom: 5px;
  border: solid 2px rgb(198, 191, 163);
}
.youmessage1 {
  padding-left: 10px;
}

.youmessage {
  border: solid 2px rgb(198, 191, 163);
  border-radius: 4px;
  margin-top: 5px;
}

.button {
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 117px;
  border: solid 2px rgb(198, 191, 163);
  height: 30px;
  width: 129px;
}

.button:hover {
  background-color: rgb(198, 191, 163);
  transform: scale(1.1);
}
